:root {
    --verde: #0f8561;
    --preto: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos Básicos*/

body {
    background-color: var(--preto);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: azure;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    color: var(--verde);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: wheat;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header nav a:hover {
    color: azure;
}
/*Filme Principal*/

#livro-destaque {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/assets/img/7th_sea_FB_1000px.jpg');
    height: 400px;
    background-size: cover;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#livro-destaque .titulo {
    margin-top: 15%;
    color: wheat;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#livro-destaque .descricao {
    text-align: justify;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.botao {
    background-color: rgba(15, 133, 97, 50%);
    border: none;
    color: azure;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease-out;
}

.botao:hover {
    background-color: azure;
    color: var(--verde);
    
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

#livro-destaque .container {
    width: 70%;
}

.box-livro {
    width: 100%;
    height: 100%;
    display: block;
}

.carrossel-livros {
    margin-top: 5px;
}